.menu-bar{
	background-color: rgb(0,100,0);
	text-align: center;

}

.menu-bar ul{
	display: inline-flex;
	list-style:none;
	color: #fff ;
}

.menu-bar ul li{
	width: 120px;
	margin: 15px;
	padding: 15px;
}
.menu-bar ul li a {
	text-decoration: none;
	color: #fff;
}

.active, .menu-bar ul li:hover 
{ background: #2bab0d ;
	border-radius: 3px;


}
.menu-bar .fa
{
	margin: 8px;
	
}

h2{
	text-align: center;
	border-style: solid;
	font-size: 40px;
	background-color: green;
	color: #fff;
	border-radius: 20px;
}
.inc{
	margin-left: 0px;
	margin-right: 1150px;
	margin-bottom: 50px;
	text-align: center;
	border-style: solid;
	border-radius: 30px;
	font-size: 30px;
	background-color: rgb(40,50,10);
	color:#fff;
	box-sizing:none;
}

footer{
 	text-align: center;
 	font-size: 40px;
 	font-style:oblique;
 }

.social-menu ul {
    position: absolute;
    top: 860%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0;
    margin: 0;
    display: flex;
}
.social-menu ul li {
    list-style: none;
    margin: 0 10px;
}
.social-menu ul li .fa {
    color: #000000;
    font-size: 25px;
    line-height: 50px;
    transition: .5s;
}
.social-menu ul li .fa:hover {
    color: #ffffff;
}
.social-menu ul li a {
    position: relative;
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: white;
    text-align: center;
    transition: 0.5s;
    transform: translate(0,0px);
    box-shadow: 0px 7px 5px rgba(0, 0, 0, 0.5);
}
.social-menu ul li a:hover {
    transform: rotate(0deg) skew(0deg) translate(0, -10px);
}
.social-menu ul li:nth-child(1) a:hover {
    background-color: #3b5999;
}
.social-menu ul li:nth-child(2) a:hover {
    background-color: #55acee;
}
.social-menu ul li:nth-child(3) a:hover {
    background-color: #e4405f;
}
.social-menu ul li:nth-child(4) a:hover {
    background-color: #cd201f;
}
.social-menu ul li:nth-child(5) a:hover {
    background-color: #0077B5;
}